/*Nouveau commit*/
body {
    font-family: sans-serif;
    margin: 0;

} .container { 
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
/*Nouveau commit*/
header { 
    background-color: #2764ff;
    color: #ffffff;

} nav a {
    color: #ffffff;

} nav li {
    margin-right: 2rem;

} nav ul {
    margin:0;
    padding:0;
    list-style: none;
    display:flex;
}
/*Nouveau commit*/
.search-profile {
    display: flex;
    align-items: center;
}

.search-profile input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.profile-btn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/*Nouveau commit*/
.banner {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

} .banner img {
    width: 50%;
    height: auto;
    margin-right: 2rem;  /* j'ai ajoute une marge entre l'image et le texte. */

} .banner-content {
    width: 50%;

}.banner-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
